/*Import google font */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    background-color: #1C0522;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.parallax {
    position: relative;
    /* The image used */
    background-image: url("./background2.webp");

    /* Set a specific height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax img {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.parallax h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    position: relative;
    height: 1000px;
    color: #fff;
}

#parallax-button {
    position: absolute;
    top: 53%;
    right: 44%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    background-color: #435198;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

#parallax-button a {
    color: #fff;
    text-decoration: none;
    /*caps*/
    text-transform: capitalize;
}

.text-section {
    position: relative;
    height: 1000px;
    width: 1440px;
    margin: 0 auto;
    color: #fff;
    padding: 100px 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.text-section-center {
    text-align: center;
}

/* animation from top to bottom */
@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fromTop {
    animation: fromTop 1s ease-in-out;
}
